@page
@model IndexModel
@{
    ViewData["Title"] = "MyCompanyApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>

    <div>
        <a asp-page="/Persons/List">
            <h2>
                Persons
            </h2>
        </a>
    </div>
    <div>
        <a asp-page="/Employees/List">
            <h2>
                Employees
            </h2>
        </a>
    </div>
    <div>
        <a asp-page="/Managers/List">
            <h2>
                Managers
            </h2>
        </a>
    </div>
    <div>
        <a asp-page="/Clients/List">
            <h2>
                Clients
            </h2>
        </a>
    </div>
</div>
