@page
@model IndexModel
@{
    ViewData["Title"] = "MyCompanyApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
     <a asp-page="/Persons/ListPersons">Persons</a>
</div>
