@page
@model IndexModel
@{
    ViewData["Title"] = "MyCompanyApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <div>
     <a asp-page="/Persons/List">Persons</a>
    </div>
</div>
