@page
@model IndexModel
@{
    ViewData["Title"] = "MyCompanyApp";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <div>
        <a asp-page="/Persons/List">Persons</a>
    </div>
    <div>
        <a asp-page="/Employees/List">Employees</a>
    </div>
    <div>
        <a asp-page="/Managers/List">Managers</a>
    </div>
    <div>
        <a asp-page="/Clients/List">Clients</a>
    </div>
</div>
