@page
@model FrontEnd.Pages.Clients.DetailModel
@{
}
<h2>@Model.Entity.Name</h2>
<div>
    Id: @Model.Entity.PersonId
</div>
<div>
    Date of Birth: @Model.Entity.DateOfBirth
</div>
<div>
    Phone Number: @Model.Entity.PhoneNumber
</div>

<br>

<a asp-page="./List" class="btn-default">Back to List</a>
