@page
@model FrontEnd.EditModel
@{
}
<h2>Please fill in the information:</h2>
<form method="POST" action="">
    <input type="hidden" asp-for="Entity.PersonId">
    <div class="form-group">
        <label asp-for="Entity.Name"></label>
        <input asp-for="Entity.Name" class="form-control">
        <span class="text-danger" asp-validation-for="Entity.Name"></span>
    </div>
    <div>
        <label asp-for="Entity.DateOfBirth"></label>
        <input type="date" asp-for="Entity.DateOfBirth" class="form-control">
        <span class="text-danger" asp-validation-for="Entity.DateOfBirth"></span>

    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-page="./List" class="btn btn-danger">
            Cancel
        </a>
    </div>
</form>

<br>

<a asp-page="./List" class="btn-default">Back to List</a>
